{
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": "airbnb",
	"rules": {
		"no-tabs": 0,
		"no-unused-vars": 2,
		"no-console": 0,
		"no-plusplus": 0,
		"no-shadow": 0,
		"no-continue": 0,
		"no-param-reassign": 0,
		"quotes": [
			2,
			"single"
		],
		"eol-last": 0,
		"no-mixed-requires": 0,
		"no-underscore-dangle": 0,
		"no-use-before-define": [
			2,
			"nofunc"
		],
		"no-loop-func": 0,
		"no-multi-assign": 0,
		"strict": [
			2,
			"never"
		],
		"consistent-return": 0,
		"max-len": 0,
		"one-var": 0,
		"func-names": [
			1,
			"never"
		],
		"indent": [
			1,
			"tab"
		],
		"no-mixed-spaces-and-tabs": [
			"error",
			"smart-tabs"
		]
	}
}







