@font-face {
	font-family: 'Roboto';
	src: url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Regular.eot');
	src: url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Regular.woff') format('woff'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Regular.ttf') format('truetype'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Regular.svg#f4ba68a9596ca53347cecdb9c6e48d01') format('svg');

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Bold.eot');
	src: url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Bold.woff') format('woff'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Bold.ttf') format('truetype'), url('/callam-williams/themes/callam-williams/assets/fonts/Roboto-Bold.svg#b49e654214c0ade376e714f6d9c78d72') format('svg');

	font-style: normal;
	font-weight: 700;
}

