.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100px;
	background: $brand-primary;
	color: $brand-tertiary;
	text-transform: uppercase;

	&__title {
		@include font-size(22px, 25px);
		padding-left: 20px;

		@include mq($small) {
			flex-basis: 100%;
			width: 100%;
			max-width: 100%;
			margin: 20px 0;
			text-align: center;
		}

		span {
			font-weight: bold;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: rem-calc(1840);

		@include mq($small) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__navigation {
		display: flex;

		@include mq($small) {
			justify-content: space-around;
			width: 100%;
			margin: 0 0 20px;
			text-align: center;
		}

		a {
			margin: 0 10px;
			padding: 0 5px;

			@include mq($small) {
				margin: 0 5px;
			}
		}

		span {
			margin-top: 5px;
		}
	}

}