
.lazyload {
	&::before {
		background-color: $brand-primary;
		transition: opacity 0.5s $transition;
		opacity: 1;
	}
}

.lazyloaded {

	&::before {
		background-color: $brand-primary;
		opacity: 0;
	}

}

main {
	position: relative;
}

p {
	a {
		color: $brand-secondary;
		text-decoration: underline;
		transition: color 0.2s $transition;

		&:hover {
			color: $brand-tertiary;
		}
	}
}

.seo {
	display: block;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
}

