.navigation {
	@include font-size(20px, 30px);

	display: flex;
	margin: 0 10px;
	list-style: none;

	@include mq($small){
		margin: 0;
	}

	&__item {
		margin: 0 20px;
		padding: 0 10px;

		@include mq($small){
			margin: 0;
		}
	}

}