.banner {
	&--fullscreen {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		background: url('/callam-williams/themes/callam-williams/assets/img/callam.jpg') center center no-repeat;
		background-size: cover;
		color: $brand-tertiary;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($brand-secondary, 0.6);
		}
	}

	&--header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		min-height: 400px;
		overflow: hidden;

		@include mq($medium){
			min-height: 400px;
		}

		.banner__img {
			position: absolute;
			top: -20px;
			right: 0;
			bottom: -20px;
			left: 0;
			width: 100%;
			background-position: center center;
			background-size: cover;
			mix-blend-mode: luminosity;
			filter: blur(2.6px);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: rgba($brand-secondary, 0.6);
		}
	}

	&--post {
		@include aspect-ratio(16, 9);
		position: relative;
		width: 100%;
		max-width: 1240px;
		margin: 0 auto 50px;
		border: 1px solid $base-tertiary;

		.banner__img,
		.banner__video {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
		}

		.banner__video {
			z-index: 5;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 655px;
		margin-bottom: 50px;
		padding: 3% 20px;
		border: 5px solid $brand-tertiary;
		text-align: center;
		text-transform: uppercase;

		@include mq($small) {
			width: 90%;
			margin: 0 auto 50px;
		}
	}

	&__title {
		@include font-size(30px, 45px);
		letter-spacing: 7px;

		@include mq($xsmall) {
			@include font-size(22px, 30px);
		}

		span {
			font-weight: bold;
		}
	}

	&__subtitle {
		@include font-size(15px, 45px);
		letter-spacing: 20px;

		@include mq($small) {
			@include font-size(15px, 30px);
			letter-spacing: 10px;
		}
	}

	&__links {
		@include font-size(15px, 15px);
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 655px;

		@include mq($xsmall) {
			@include font-size(30px, 30px);
		}
	}

	&__link {
		position: relative;
		padding: 0 20px;

		@include mq($xsmall) {
			margin-bottom: 20px;
		}

		&::after {
			content: '|';
			position: absolute;
			top: 3px;
			right: 0;

			@include mq($xsmall) {
				content: '';
			}
		}

		&:last-child {
			&::after {
				content: '';
			}
		}

		span {
			padding-right: 5px;
		}
	}
}